@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

:root {
    --progressBarWidth: 0%;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Rubik', sans-serif;
    user-select: none;
    background-color:black;
    overflow-x: hidden;
}

.version {
    position: fixed;
    bottom: 0;
    left: 0;
    color: white;
}

.currency-container {
    display: flex;
    position: fixed;
    width: 100vw;
    height: 4vmin;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2.5vmin;
    font-weight: bold;
    background-color: #222;
    z-index: 10;
}

.currency-container::after {
    display: flex;
    justify-content: center;
    align-items: center;
    content: "";
    position: absolute;
    left: 0;
    min-width: 0%;
    width: var(--progressBarWidth);
    height: 100%;
    background-color: rgba(172, 255, 47, 0.75);
    box-shadow: 0 0 100px rgba(172, 255, 47, 0.75);
    transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.currency {
    margin-left: 2vmin;
    text-shadow: 0.1em 0.1em 3px #333;
    z-index: 100;
}

.currencyPerSec {
    font-size: 1.3vmin;
    color: red;
    position: relative;
    bottom: 1vmin;
    font-style: italic;
    z-index: 100;
    text-shadow: 0.05em 0.05em 3px #333;
}

.mastery-container {
    display: flex;
    position: relative;
    width: 100vw;
    top: 8vmin;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.navBar {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    height: 100vh;
    width: 10vmin;
    left: 0;
    color: white;
    z-index: 100;
    cursor: pointer;
    font-size: 2.4vmin;
}

.navBtn,
.navBtn.mastery {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7vmin;
    padding: 2.5vmin 7vmin 2.5vmin 7vmin;
    height: 5vmin;
    text-align: center;
    transition: all 0.15s ease-in-out;
}

.navBtn:hover {
    background-color: #333;
    transform: translatex(20%);
    border-bottom: 1px solid currentColor;
}

.autobuyer-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 10vmin;
    top: 30vmin;
    color: white;
    scale: 1.3;
    z-index: 100;
}

.button {
    display: grid;
    place-content: center;
    background-color: #222;
    color: white;
    margin: 1.25vmin;
    text-align: center;
    font-size: 1.75vmin;
    height: 17.5vmin;
    width: 25vmin;
    border-radius: 0.4vmin 0.4vmin 0 0;
    border-bottom: 0.5vmin solid white;
    transition: 0.2s ease-in all;
    cursor: pointer;
}

.button:hover {
    border-bottom: grey 0.5vmin solid;
    scale: 1.05;
}

.masteryProgress {
    position: relative;
    font-size: 2.2vmin;
    border-bottom: 3px solid red;
}

.prestige-container {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100vw;
    top: 80vmin;
    z-index: 100;
}

.button.yprestige {
    background-color: rgb(255, 0, 0);
}

.button.yUpgrade {
    background-color: rgb(255, 120, 0);
    text-shadow: 0 0 5px currentColor;
}


.primary-container,
#mastery,
#settings {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(3, 27.5vmin);
    place-content: center;
    width: 100vw;
    color: white;
    top: 18vmin;
}

.secondary-container {
    position: absolute;
    display: grid;
    place-content: center;
    grid-template-columns: repeat(3, 110vmin);
    width: 100vw;
    top: 15vmin;
}

.yUpgrade, 
.upgrade {
    z-index: 3;
}
.secondaryUpgrade {
    position: relative;
    display: grid;
    place-content: center;
    width: 18vmin;
    height: 18vmin;
    border-radius: 10vmin;
    margin: 2.5vmin;
    text-align: center;
    font-size: 2vmin;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    left: 98vmin;
    color: white;
    background: linear-gradient(260deg, grey, black);
    z-index: 1;
}

.msu:hover {
    scale: 1.05;
}

.ysu {
    background: radial-gradient(circle at 100%, red, orange);
}

.ysu:hover {
    scale: 1.05;
    filter: hue-rotate(20deg);
}

.ySecondaryEffect {
    color: aqua; 
    text-shadow: 0 0 5px currentColor;
}

.zUpgrade,
.button.zprestige {
    background: linear-gradient(30deg, aqua, blue)
}

.zUpgrade:hover,
.button.zprestige:hover {
    filter: hue-rotate(-20deg);
}

.button.mastery {
    color: white;
    background: black;
    border: 1px solid white;
    border-bottom: 0.5vmin solid white;
    transition: 0.2s ease-in all;
}

.masteryEffect {
    color: red;
    text-shadow: 0 0 1em currentColor;
}

.button.mastery:hover {
    background-color: grey;
}

#superCharges {
    position: relative;
    font-size: 1.75vmin;
    color: white;
}

