@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

:root {
    --progressBarText: "0";
    --progressBarWidth: 5%;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #030303;
    font-family: 'Rubik', sans-serif;
    user-select: none;
}

.version {
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
}

.currency-container {
    display: flex;
    background-color: #222;
    width: 100vw;
    height: 3em;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.6rem;
    font-weight: bold;
}

.currency {
    margin-left: 1.5em;
    text-shadow: 0 0 5px currentColor;
}

.currencyPerSec {
    font-size: 0.6em;
    color: #999;
    position: relative;
    bottom: 1em;
    font-style: italic;
}

.navBar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    color: white;
}

.navBtn {
    font-size: 1.5em;
    padding: 0.7em;
    background-color: #333;
    border-radius: 0.3em;
    margin: 0.4em;
    transition: 0.2s ease-in all;
    cursor: pointer;
    min-width: 2em;
    text-align: center;
}

.button:hover,
.navBtn:hover {
    background-color: white;
    color: black;
}

.button {
    display: grid;
    place-content: center;
    background-color: #222;
    color: white;
    margin: 1em;
    text-align: center;
    font-size: 1rem;
    height: 8em;
    width: 14em;
    padding: 1em;
    border-radius: 0.4em;
    transition: 0.2s ease-in all;
    cursor: pointer;
    line-height: 1.5em;
}

.masteryProgress {
    position: relative;
    top: 4.5em;
    font-size: 1.1rem;
}

.progressBar {
    position: relative;
    width: 25em;
    height: 1.5vh;
    background-color: gray;
    border-radius: 10em;
    top: 5.5em;
    text-align: center;
    color: black;
    font-size: 1rem;
}

.progressBar::after {
    content: var(--progressBarText);
    position: absolute;
    left: 0;
    min-width: 5%;
    width: var(--progressBarWidth);
    height: 100%;
    background-color: aqua;
    box-shadow: 0 0 10px aqua;
    border-radius: 10em;
    transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.tab {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(3, 15em);
    place-content: center;
    justify-content: center;
    align-items: center;
    height: 50em;
    width: 100vw;
    color: white;
    top: 10em;
}

.prestige-container {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100vw;
    top: 40em;
}

.button.prestige {
    background-color: rgba(255, 0, 0, 0.5);
}

.button.prestige:hover {
    background-color: rgb(255, 166, 0);
    color: white;
}

.button.yUpgrade {
    background-color: rgb(255, 120, 0);
    text-shadow: 0 0 5px currentColor;
}

.button.yUpgrade:hover {
    background-color: rgb(255, 0, 0);
    color: white;
}

.mastery {
    color: black;
    background-color: #fff;
    transition: 0.15s ease-in all;
}

.button.mastery:hover {
    box-shadow: 0 0 25px #fff;
}

#superCharges {
    position: absolute;
    width: 100vw;
    text-align: center;
    top: 10em;
    font-size: 1.2rem;
}

.center {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}